
    body {
      font-family: Arial, sans-serif;
      background: #f8f9f4;
      margin: 0;
      padding: 0;
    }

    header {
      background: #f5f10a;
      color: rgba(8, 55, 150, 0.952);
      padding: 20px;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: center;
      background: #faf5f5;
      padding: 10px;
      gap: 10px;
      flex-wrap: wrap;
    }

    nav button {
      padding: 10px 15px;
      border: none;
      background: #f5f10a;
      color: rgba(8, 145, 150, 0.952);
      cursor: pointer;
      border-radius: 5px;
    }

    nav button:hover {
      background: #4bc8d1;
    }

    section {
      display: none;
      padding: 20px;
      max-width: 1000px;  
      margin: auto;
      background: rgb(167, 186, 219);
      margin-top: 20px;
      border-radius: 8px;
    }

    section.activa {
      display: block;
    }

    input, select {
      padding: 8px;
      margin: 5px;
      width: 220px;
    }

    button {
      padding: 8px 12px;
      margin: 5px;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }

    th {
      background: #1f3c88;
      color: white;
    }

    .aprobado {
      background: #d4edda;
      color: #155724;
      padding: 15px;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 15px;
    }

    .rechazado {
      background: #f8d7da;
      color: #721c24;
      padding: 15px;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 15px;
    }

    .card {
      background: #f1f1f1;
      padding: 15px;
      border-radius: 5px;
      margin-top: 10px;
    }
  